# Disable default deployments
alertmanager:
  enabled: false

grafana:
  enabled: false

prometheus:
  enabled: true
  agentMode: true
  prometheusSpec:
    # Enable only necessary scrape configs
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false

    # Configure remote write
    # Global external labels to add to all metrics
    externalLabels:
      cluster: my-cluster-name # Replace with your cluster name

    remoteWrite:
      - url: "{{YOUR_MONITORING_ENDPOINT}}"
        remoteTimeout: 60s
        queueConfig:
          capacity: 10000
          maxSamplesPerSend: 3000
          batchSendDeadline: 20s
          minShards: 4
          maxShards: 200
          minBackoff: 100ms
          maxBackoff: 10s
        basicAuth:
          username:
            name: last9-remote-write-secret
            key: username
          password:
            name: last9-remote-write-secret
            key: password
        writeRelabelConfigs:
          - sourceLabels: [__name__]
            regex: "up|kube_deployment_spec_replicas|kube_deployment_status_replicas_(ready|updated|available|unavailable)|kube_pod_status_phase|kube_pod_created|kube_pod_container_status_(running|restarts_total|waiting_reason|terminated|last_terminated_reason|terminated_reason)|kube_pod_info|kube_pod_container_info|kube_pod_owner|kube_statefulset_(created|replicas|status_replicas_(ready|updated|available|unavailable)|spec_replicas|info)|kube_pod_container_resource_(requests|limits)|container_cpu_usage_seconds_total|container_memory_(working_set_bytes|usage_bytes)|container_fs_(reads|writes)_bytes_total|container_network_(receive|transmit)_(bytes|errors)_total|container_cpu_cfs_throttled_periods_total"
            action: keep

# Keep kube-state-metrics
kubeStateMetrics:
  enabled: true

# Keep node-exporter
prometheus-node-exporter:
  enabled: true
  service:
    port: 9102
    targetPort: 9102

# Enable cadvisor via kubelet service monitor
kubelet:
  enabled: true
  serviceMonitor:
    resource: true # Enables scraping of cadvisor metrics
    cAdvisor: true

# Disable unnecessary components
prometheusOperator:
  admissionWebhooks:
    enabled: false
  tls:
    enabled: false

# Disable other exporters
kubeApiServer:
  enabled: true

kubeControllerManager:
  enabled: false

kubeDns:
  enabled: false

kubeEtcd:
  enabled: false

kubeProxy:
  enabled: false

kubeScheduler:
  enabled: false
